<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">PilencePee</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" id="inicio" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="sobre" href="/sobre-proyecto">Sobre el proyecto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contacto" href="/contacto">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="ingresar" href="/ingresar">Ingresa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="registro" href="/registro">Registrate</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>